.event {
  margin-bottom: $line-height-base * 3;

  &--title {

  }

  &--date {
    display: block;
    font-style: italic;
    margin-bottom: $line-height-base / 2;
  }

  &--image {
    margin-bottom: $line-height-base;
    margin-left: $gutter * -1;
    margin-right: $gutter * -1;
  }
}
