.event {
  margin-bottom: $line-height-base * 3;

  &--title {

  }

  &--date {
    display: block;
    font-style: italic;
    margin-bottom: $line-height-base / 2;
  }

  &--image {
    margin-bottom: $line-height-base;

    @include bp(480) {
      margin-left: -40px;
      margin-right: -40px;
    }

    @include bp(960) {
      margin-left: -160px;
      margin-right: -160px;
    }
  }
}
