.hero {
  height: 100vh;
  position: relative;

  &--inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

    &--logo {
      img {
        margin: {
          top: 0;
          right: auto;
          bottom: $line-height-base;
          left: auto;
        }
        width: $line-height-base / $logo-aspect * 8;
      }
    }

    &--tagline {
      font-style: italic;
      text-align: center;
    }
}
