.hero {
  height: 100vh;
  position: relative;
  background: url('../graphics/flux2014.jpg');
  background-size: cover;

  &--inner {
    background: $color-beige;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    padding: $gutter;
    max-width: 500px;
  }

    &--logo {
      img {
        margin: {
          top: 0;
          right: auto;
          bottom: $line-height-base;
          left: auto;
        }
        width: $line-height-base / $logo-aspect * 8;
      }
    }

    &--tagline {
      font-size: 1.1em;
      font-style: italic;
      text-align: center;
    }
}
