/**
 * Main navigation
 */
.main-nav {
  position: absolute;
  width: 100%;
  z-index: $z-index-menu-nav;

  &--bar {
    position: relative;
    height: $line-height-base * 3;
    z-index: $z-index-menu-nav--bar;
  }

  &--logo {
    display: none;
  }

  &--title {
    display: inline-block;
    padding: 0 $gutter;

    color: $color-main-nav--title;

    position: absolute;
    left: 0;
    z-index: $z-index-menu-nav--title;

    line-height: $line-height-base * 3;

    transition: $transition-menu-nav--title;
    transition-delay: 0s;

    &.is-active {
      color: $color-main-nav--title-is-active;
    }
  }

  /**
   * Main navigation menu toggle
   */
  &--menu-toggle {
    @extend %reset-link;

    cursor: pointer;
    display: inline-block;

    position: absolute;
    top: 0;
    right: 0;
    z-index: $z-index-main-nav--toggle-menu;

    height: $line-height-base * 3;
    width: $line-height-base * 3.5;

    &.is-active {
      span {
        background: rgba($color-black, 0);

        &:before {
          background: $color-main-nav--menu-toggler-is-active;
          transform: translateY(8px) rotate(-45deg);
        }

        &:after {
          background: $color-main-nav--menu-toggler-is-active;
          transform: translateY(-8px) rotate(45deg);
        }
      }
    }

    span {
      background: $color-main-nav--menu-toggler;

      font-size: 0;

      position: absolute;
      left: $gutter;
      right: $gutter;
      top: 50%;

      height: rem($font-size-base / 4);
      margin-top: remneg(($font-size-base / 4) / 2);

      transition: background-color 0.5s ease;

      &:before,
      &:after {
        background: $color-main-nav--menu-toggler;

        content: "";

        position: absolute;
        height: rem($font-size-base / 4);
        width: 100%;

        transition: transform 0.5s ease, background-color 0.5s ease;
      }

      &:before {
        top: remneg(($font-size-base / 4) * 2);
      }

      &:after {
        bottom: remneg(($font-size-base / 4) * 2);
      }
    }
  }

  &--menu {
    background: $bcolor-menu-nav--menu;

    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-index-main-nav--menu;

    height: 100vh;
    width: 100%;

    font-family: $font-family-display;
    font-size: rem(30px);
    font-weight: $font-weight-bold;
    letter-spacing: 0.1em;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    display: none;

    &.is-active-add-active {
      display: block;
      animation: 0.5s fadeIn ease;
    }

    &.is-active {
      display: block;
    }

    &.is-active-remove-active {
      display: block;
      animation: 0.5s fadeOut ease;
    }
  }

    &--menu-links {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding: {
        top: $line-height-base * 2.5;
        bottom: $line-height-base * 2.5;
      }
      z-index: $z-index-main-nav--menu-links;

      a {
        @extend %reset-link;

        display: inline-block;

        color: $color-black;

        margin-bottom: $line-height-base;
      }
    }
}
