/**
 * Main navigation
 */
.main-nav {
  position: fixed;
  width: 100%;
  z-index: $z-index-menu-nav;

  &--bar {
    position: relative;
    height: $line-height-base * 3;
    z-index: $z-index-menu-nav--bar;

    transition: $transition-menu-nav--bar;

    &.menu-open {
      background: darken($color-header, 5%);
    }

    &.menu-open-remove-active {
      transition-delay: 0.5s;
    }

    &.is-floating {
      background: darken($color-header, 5%);
    }

    &.is-floating-remove {
      transition-delay: 0s;
    }
  }

  &--logo {
    display: none;
  }

  &--title {
    display: inline-block;

    color: $color-beige;

    position: absolute;
    left: 0;
    z-index: $z-index-menu-nav--title;

    line-height: $line-height-base * 3;

    padding: 0 $gutter;

    transition: $transition-menu-nav--title;
    transition-delay: 0s;

    .is-floating &,
    &.is-active {
      color: $color-white;
    }

    &.is-active-remove-active {
      transition-delay: 0.5s;
    }

    .is-floating-remove & {
      transition-delay: 0s;
    }
  }

  /**
   * Main navigation menu toggle
   */
  &--menu-toggle {
    @extend %reset-link;

    cursor: pointer;
    display: inline-block;

    position: absolute;
    top: 0;
    right: 0;
    z-index: $z-index-main-nav--toggle-menu;

    height: $line-height-base * 3;
    width: $line-height-base * 3.5;

    .is-floating & {
      span {
        &,
        &:before,
        &:after {
          background: $color-white;
        }
      }
    }

    &.is-active-add-active {
      span {
        // transition: background-color 0.5s ease;

        &:before {
          // transition: transform 0.5s ease, background-color 0.5s ease;
        }

        &:after {
          // transition: transform 0.5s ease, background-color 0.5s ease;
        }
      }
    }

    &.is-active {
      span {
        background-color: rgba($color-black, 0);

        &:before {
          background: $color-white;
          transform: translateY(8px) rotate(-45deg);
        }

        &:after {
          background: $color-white;
          transform: translateY(-8px) rotate(45deg);
        }
      }
    }

    &.is-active-remove-active {
      span {
        background-color: $color-white;

        &:before {
          background-color: $color-white;
        }

        &:after {
          background-color: $color-white;
        }
      }
    }

    span {
      background: $color-beige;

      font-size: 0;

      position: absolute;
      left: $gutter;
      right: $gutter;
      top: 50%;

      height: rem($font-size-base / 4);
      margin-top: remneg(($font-size-base / 4) / 2);

      transition: background-color 0.5s ease;

      &:before,
      &:after {
        background: $color-beige;

        content: "";

        position: absolute;
        height: rem($font-size-base / 4);
        width: 100%;

        transition: transform 0.5s ease, background-color 0.5s ease;
      }

      &:before {
        top: remneg(($font-size-base / 4) * 2);
      }

      &:after {
        bottom: remneg(($font-size-base / 4) * 2);
      }
    }
  }

  &--menu {
    background: $color-menu;
    color: $color-white;

    position: absolute;
    top: $line-height-base * 3;
    left: 0;
    z-index: $z-index-main-nav--menu;

    height: 100vh;
    width: 100%;

    font-family: $font-family-display;
    font-size: rem(30px);
    font-weight: $font-weight-bold;
    letter-spacing: 0.1em;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    display: none;

    &.is-active-add-active {
      display: block;
      animation: 1s flipInX ease;
    }

    &.is-active {
      display: block;
    }

    &.is-active-remove-active {
      display: block;
      animation: 1s flipOutX ease;
    }
  }

    &--menu-links {
      margin-top: $line-height-base * -2.5;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding: {
        top: $line-height-base * 2.5;
        bottom: $line-height-base * 2.5;
      }
      z-index: $z-index-main-nav--menu-links;

      a {
        @extend %reset-link;

        display: inline-block;

        color: $color-white;

        margin-bottom: $line-height-base;
      }
    }
}
