$color-black: rgb(47, 54, 59);
$color-grey: rgb(130,130,130);
$color-white: rgb(255,255,255);

$color-beige: lighten(#F2F1D9, 5%);
$color-green: #027313;
$color-blue: #14323D;

$color-primary: $color-blue;
$color-secondary: $color-green;

$bcolor-menu-nav--menu: $color-beige;

$color-main-nav--title: $color-beige;
	$color-main-nav--title-is-active: $color-black;

$color-main-nav--menu-toggler: $color-beige;
	$color-main-nav--menu-toggler-is-active: $color-black;
