$color-black: rgb(47, 54, 59);
$color-grey: rgb(130,130,130);
$color-white: rgb(255,255,255);

$color-green: #027313;
$color-blue: #14323D;

$color-primary: $color-blue;
$color-secondary: $color-green;

$color-header: $color-primary;
$color-menu: $color-primary;
