$font-family-display: 'PT Sans', sans-serif;
$font-family-default: 'Lora', serif;

$font-size-base: 16px;

$line-height-base: $font-size-base * 1.5;

$font-weight-normal: 400;
$font-weight-bold: 700;
