*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  @extend %font-smoothing;

  background: $color-white;
  color: $color-black;
  font-family: $font-family-default;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/*
 * Links
 */
a {
  border-bottom: 1px solid rgba($color-primary, 0.3);
  color: $color-primary;
  text-decoration: none;
  transition: $transition-links;

  &:hover {
    border-color: rgba($color-primary, 0.8);
  }
}

/*
 * Headings
 */
h1,
h2 {
  font-family: $font-family-display;
  font-weight: $font-weight-bold;
  letter-spacing: 0.1em;
  line-height: 1.2;
  text-transform: uppercase;
}

h1 {
  font-size: rem(22px);
}

h2 {
  font-size: rem(22px);
  margin-bottom: $line-height-base / 2;
}

p {
  margin-bottom: $line-height-base / 2;
}
